{{comment.body}}
<div class="comment">
    <div class="comment-image-container">
        <img src="../../../../assets/images/user1.png" alt="">
    </div>
    <div class="comment-right-part">
        <div class="comment-content">
            <div class="comment-author">{{comment.username}}</div>
        </div>
        <div class="comment-text">{{comment.body}}</div>
        COMMENT FORM EDITING
        <div class="comment-actions">
            <div *ngIf="canReply" class="comment-action">Reply</div>
            <div *ngIf="canEdit" class="comment-action">Reply</div>
            <div *ngIf="canDelete" class="comment-action">Reply</div>
        </div>

        COMMENT FORM REPLYING REPLIES
    </div>
</div>