<section class="h-100 gradient-custom">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px">
            <div class="card-header px-4 py-5">
              <h5
                class="text-muted mb-0"
             
              >
                Cảm ơn {{ messagePayment.name }} đã tin tưởng dịch vụ của chúng tôi
                <span style="color: #a8729a"></span
                >!
              </h5>
              <div *ngIf="messagePayment == ''" style="text-align: center">
                <h5 class="text-muted mb-0">Lịch sử giao dịch</h5>
              </div>
            </div>
            <div class="card-body p-4">
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <p class="lead fw-normal mb-0" style="color: #a8729a">
                  Receipt
                </p>
                <p class="small text-muted mb-0">
                  Receipt Voucher : 1KAU9-84UIL
                </p>
              </div>
          
              <div *ngFor="let history of dataHistory">
                <div class="card shadow-0 border mb-4" >
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2">
                        <img
                          src="../../../../assets/images/bg_1.jpg"
                          class="img-fluid"
                          alt="Phone"
                          width="100px"
                          height="200px"
                        />
                      </div>
                      <div class="col-md-6">
                        <p class="text-muted mb-0">
                          <strong>{{history.thongTinTour.title}}</strong>
                        </p>
                        <p class="text-muted mb-0">
                          <b>Số lượng người tham dự:</b> {{history.thongTinTour.totalMember}}
                        </p>
                      </div>
                      <div class="col-md-4 align-items-center text-center">
                        <p class="text-muted mb-0">
                          <strong>Thanh toán thành công</strong>
                        </p>
                        <h3 style="color: #a8729a" >{{history.hoaDon.tongSoTien}} </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between pt-2" *ngFor="let history of dataHistory">
                <p class="fw-bold mb-0">Thông tin thanh toán</p>
                <p class="text-muted mb-0">
                  <span class="fw-bold me-4">Tổng số tiền</span> {{history.hoaDon.tongSoTien}}
                </p>
              </div>

              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Invoice Number : 788152</p>
                <p class="text-muted mb-0">
                  <span class="fw-bold me-4">Giảm giá</span> $00.00
                </p>
              </div>

              

             
            </div>
            <div
              class="card-footer border-0 px-4 py-5"
              style="
                background-color: #ff9c3e;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
              "
            >
              <h5
                class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0 "
              >
              Hoá đơn
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
