.gradient-custom {
    /* fallback for old browsers */
    background: #d8d8d8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgb(210, 210, 211), rgba(246, 243, 255, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgb(230, 229, 230), rgba(246, 243, 255, 1))
    }