<section class="h-100 gradient-custom">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="banner" style=" margin-right: -40px;">
            <div class="col">
                <h2>
                    Hành trình đi tìm miền đất mới
                </h2>
                <img src="../../../../assets/images/beautiful-landscape.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-8">
                <div class="main-image">
                    <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="" width="100%"
                        height="auto">
                    <div class="content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="main-image">
                        <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="">
                        <div class="content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                            eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                            libero
                            veniam dicta necessitatibus!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="main-image">
                        <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="">
                        <div class="content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                            eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                            libero
                            veniam dicta necessitatibus!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">
                <div class="main-image" style="padding-right:10px">
                    <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="">
                    <div class="content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="main-image" style="padding-right:10px">
                    <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="">
                    <div class="content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="main-image" style="padding-right:10px">
                    <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="">
                    <div class="content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>