<section class="h-100 gradient-custom">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="banner" style=" margin-right: -40px;">
            <div class="col">
                <h2>
                    Hành trình đi tìm miền đất mới
                </h2>
                <img src="../../../../assets/images/beautiful-landscape.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 list-tour">
            <div class="col-8 wrapper-tour-item">
                <div class="tour-item">
                    <div class="tour-item-image">
                        <img src="../../../../assets/images/phú quốc 2.jpg" alt="" width="100%"
                            height="auto">
                    </div>
                    <div class="tour-item-content">
                        Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam.

                        Trước đây, vùng đất Nha Trang vốn thuộc về Chiêm Thành, do đó các di tích của người Chăm vẫn còn tồn tại nhiều nơi ở Nha Trang. Nha Trang được Thủ tướng chính phủ Việt Nam công nhận là đô thị loại I vào ngày 22 tháng 4 năm 2009. Nha Trang được mệnh danh là hòn ngọc của biển Đông, Viên ngọc xanh [4] vì giá trị thiên nhiên, vẻ đẹp cũng như khí hậu của nó
                    </div>
                </div>
            </div>
            <div class="col-4">
                    <div class="tour-item">
                        <div class="tour-item-image">
                            <img src="../../../../assets/images/họi an.jpg" alt="" width="100%"
                                height="auto">
                        </div>
                        <div class="tour-item-content">
                            Kinh nghiệm du lịch Hội An của những người đi trước chính là "kho tàng" giúp chúng ta thuận lợi hơn trong hành trình ...
                        </div>
                    </div>
                    <div class="tour-item">
                        <div class="tour-item-image">
                            <img src="../../../../assets/images/Đà nẵng.jpg" alt="" width="100%"
                                height="auto">
                        </div>
                        <div class="tour-item-content">
                            Du lịch Đà Nẵng thì nên đi đâu, chơi gì? Top 50 địa điểm du lịch Đà Nẵng sẽ giới thiệu đến bạn những địa điểm du lịch HOT nhất, HẤP DẪN nhất mà bạn không thể bỏ qua khi đến với thành phố của những cây cầu...
                        </div>
                    </div>

            </div>
        </div>
        <!-- <div class="row list-tour">
            <div class="col-4 wrapper-tour-item">
                <div class="tour-item">
                    <div class="tour-item-image">
                        <img src="https://i.9mobi.vn/cf/images/2015/03/nkk/hinh-dep-12.jpg" alt="" width="100%"
                            height="auto">
                    </div>
                    <div class="tour-item-content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="tour-item">
                    <div class="tour-item-image">
                        <img src="../../../../assets/images/họi an.jpg" alt="" width="100%"
                            height="auto">
                    </div>
                    <div class="tour-item-content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="tour-item">
                    <div class="tour-item-image">
                        <img src="../../../.././assets/images/phú quốc 2.jpg" alt="" width="100%"
                            height="auto">
                    </div>
                    <div class="tour-item-content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi provident at quas nobis
                        eligendi voluptate, esse ut alias itaque dolore laboriosam! Ad nobis esse totam facilis
                        libero
                        veniam dicta necessitatibus!
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>