<!-- <section class="gradient-custom" >
  
   
        <div class="number">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                </div>
              </div>
        
              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Secondary card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                </div>
              </div>
        
              <div class="card text-white bg-success mb-3" style="max-width: 18rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                </div>
              </div>
        </div>
        <div style="display: block;" class="card-body">
            <canvas baseChart width="1000" height="400"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
            </canvas>
          </div>
          

     
 
</section> -->
<div class="chart-tour">

  <div class="row d-flex justify-content-between">
    <div class="col-3">
      <div class="card text-white  " style="width: 250px; background-color: rgb(0, 108, 108);">
        <div class="card-body text-center">
          <h3 class="card-title">24</h3>
          <p class="card-text">
            Đơn đã bán
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white  mb-3" style="width: 250px; background-color: rgb(212, 202, 1);">
        <div class="card-body text-center">
          <h3 class="card-title">24</h3>
          <p class="card-text">
            Đơn đã bán
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white  mb-3" style="width: 250px; background-color: rgb(186, 4, 150)">
        <div class="card-body text-center">
          <h3 class="card-title">24</h3>
          <p class="card-text">
            Đơn đã bán
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white bg-primary mb-3" style="width: 250px;">
        <div class="card-body text-center">
          <h3 class="card-title">24</h3>
          <p class="card-text">
            Đơn đã bán
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="margin-right: 15px; text-align: center">
    <h2>Biểu đồ phân tích</h2>
    <div class="card-body">
      <canvas baseChart width="1000" height="400" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
</div>






