<div class="tour-access">
    <br/>
    <br/>
    <br/>
    <div style="text-align: center; margin-bottom: 20px;">
        <h2 style="color:#0d3073; font-weight: bold ;"> CÁC BÀI ĐĂNG ĐÃ ĐƯỢC DUYỆT</h2>
    </div>
   
    <table class="table">
        <thead class="thead-dark" >
            <tr>
                <th scope="col">#id Tour</th>
                <th scope="col">Tên tour</th>
                <th scope="col">Đơn giá (VND)</th>
                <th scope="col">Số lượng người</th>
                <th scope="col">Thời gian khởi hành</th>
                <th scope="col">Công ty chủ quản</th>
                <th scope="col" colspan="3" class=""></th>
              
            
            </tr>
        </thead>
        <tbody *ngFor="let tour of dataTour" >
         
            <tr *ngIf="tour.productStatus==true " >
                <!-- <th scope="row">3</th> -->
                <td>{{tour.id}}</td>
                <td>{{tour.title}}</td>
                <td>{{tour.price}}</td>
                <td>{{tour.totalMember}}</td>
                <td>{{tour.timeStart}}</td>
                <td>Công ty Việt travel</td>
              
            </tr>
          
        
        </tbody>
    </table>
</div>