<br/>
<br/>
<br/>
<br/>
<div class="manager-role">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#id Agency</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">User name</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
              
                <th scope="col" colspan="3" class=""></th>


            </tr>
        </thead>
        <tbody *ngFor="let member of dataAgency">

            <tr *ngIf="member.active==false">
                <!-- <th scope="row">3</th> -->
                <td>{{member.idAccount}}</td>
                <td>{{member.fullName}}</td>
                <td>{{member.userName}}</td>
                <td>{{member.email}}</td>
                <td>{{member.phone}}</td>
             
                <!-- <button type="button" class="btn btn-link" (click)="openDialog(tour)">Xem chi tiết</button> -->
                <td><button class="btn btn-primary"  type="submit" (click)="confirmAgency(member.idAccount)">Duyệt</button></td>
                <td>
                    <button type="button" (click)="deleteAgency(member.idAccount)" class="btn btn-danger">Hủy</button>
                </td>
            </tr>


        </tbody>
    </table>

    <!-- <div>
        <app-popup-detail *ngIf="showForm==true" [showForm]="showForm" (confirm)="confirmTour($event)">
        </app-popup-detail>

    </div> -->

</div>