<h2 mat-dialog-title><strong>{{ dataDialog.title }}</strong></h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
      <div >
        <div *ngFor="let image of dataDialog.image ;let i=index;let first = first" style="display: flex; justify-content: center;">
          <img id="pic-1" *ngIf="first" src="{{image.fileUrl}}" style="width:auto; height: fit-content ;" />
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Đơn vị tổ chức</th>
            <th scope="col">Đơn giá (VND)</th>
            <th scope="col">Số lượng người tối đa</th>
            <th scope="col">Thời gian khởi hành</th>
            <th scope="col">Công ty chủ quản</th>
            <th scope="col" colspan="3" class=""></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">3</th> -->
            <td>Công ty Việt</td>
            <td>{{dataDialog.price}}</td>
            <td>{{dataDialog.totalMember}}</td>
            <td>{{dataDialog.timeStart}}</td>
            <td>Công ty Việt Travel</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h1>Mô tả chi tiết </h1>
    <p>{{dataDialog.description}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary" [mat-dialog-close]="true"   (click)="confirmTour(dataDialog.id)">Duyệt</button>
  <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true"   (click)="confirmTour(dataDialog.id)" >Duyệt</button> -->
</mat-dialog-actions>


<!-- <button class="btn btn-primary" (click)="confirmTour(dataDialog.id)" type="submit">Duyệt</button> -->