
  <h2 mat-dialog-title>Tên tour du lịch</h2>
<mat-dialog-content class="mat-typography">
    <div class="star">*****</div>
     <h1>{{data.tour.title}}</h1>
    <p>{{data.tour.price}}</p>
    <p>{{data.tour.totalMember}}</p>
    <p>{{data.tour.timeStart}}</p>
    <div class="listImage">
      <img/>
    </div>
    <div class="description">
     <div *ngFor="let img of data.tour.imageTours">
       <img src="{{img.fileUrl}}" alt="" width="100px" height=" 100px"/>
     </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

  




