<!-- <div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
        <h1 class="title">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4"
            style="width: 50px;" alt="Avatar" />
            Xin chào 
        </h1>
        <div class="toggle" (click)="handleSidebarToggle()">
            <span class="chevron"></span>
        </div>
    </div>
    <div class="content">
        <div class="link">
            <div class="content" [routerLink]="['managerPost']"  [routerLinkActive]="'active'">
                <div class="title">Quản lý bài đăng</div>
            </div>
        </div>
        <div class="link with-children">
            <div class="content" [routerLink]="['managerRole']" [routerLinkActive]="'active'">
    
                <div class="title">Quản lý tài khoản</div>
            </div>
          
        </div>
        <div class="link">
            <div class="content" [routerLink]="['managerBlog']"  [routerLinkActive]="'active'">
        
                <div class="title">Quản lý blog</div>
            </div>
        </div>

        <div class="link">
            <div class="content"   >
        
                <div class="title" (click)="logout()">Đăng xuất</div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>
<router-outlet></router-outlet> -->


<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">ADMIN</span>
    </div>
    <ul class="nav-links">
        <li>
            <a [routerLink]="['managerChart']" [routerLinkActive]="'active'">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Thống kê</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['managerPost']" [routerLinkActive]="'active'">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Quản lý bài đăng</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['managerRole']" [routerLinkActive]="'active'">
                <i class='bx bx-box'></i>
                <span class="links_name">Quản lý tài khoản</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['managerBlog']" [routerLinkActive]="'active'">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Quản lý blog</span>
            </a>
        </li>


        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a (click)="logout()">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>
<router-outlet ></router-outlet>