<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
        <h1 class="title">
            deskbird
        </h1>
        <div class="toggle" (click)="handleSidebarToggle()">
            <span class="chevron"></span>
        </div>
    </div>
    <div class="content">
        <div class="link">
            <div class="content" [routerLink]="['chart']"  [routerLinkActive]="'active'">
                <div class="icon">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Stockholm-icons / Home / Flower2</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                            fill-rule="evenodd">
                            <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                            <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                        </g>
                    </svg>
                </div>
                <div class="title">Biểu đồ</div>
            </div>
        </div>
        <div class="link with-children">
            <div class="content" [routerLink]="['postTour']" [routerLinkActive]="'active'">
                <div class="icon">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Stockholm-icons / Home / Flower2</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                            fill-rule="evenodd">
                            <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                            <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                        </g>
                    </svg>
                </div>
                <div class="title">Đăng tour </div>
            </div>
            <!-- <div class="children">
                <div class="link">
                    <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '1' }"
                        [routerLinkActive]="'active'">
                        <div class="icon">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Stockholm-icons / Home / Flower2</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                                    fill-rule="evenodd">
                                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5">
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="title">child 1</div>
                    </div>
                </div>
                <div class="link">
                    <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '2' }"
                        [routerLinkActive]="'active'">
                        <div class="icon">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Stockholm-icons / Home / Flower2</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                                    fill-rule="evenodd">
                                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5">
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="title">child 2</div>
                    </div>
                </div>
                <div class="link">
                    <div class="content" routerLink="/about" [queryParams]="{ 'child': '3' }"
                        [routerLinkActive]="'active'">
                        <div class="icon">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Stockholm-icons / Home / Flower2</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                                    fill-rule="evenodd">
                                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5">
                                    </circle>
                                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5">
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="title">child 3</div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="link">
            <div class="content" [routerLink]="['tourAccess']" [routerLinkActive]="'active'">
                <div class="icon">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Stockholm-icons / Home / Flower2</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                            fill-rule="evenodd">
                            <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                            <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                        </g>
                    </svg>
                </div>
                <div class="title">Tour được duyệt</div>
            </div>
        </div>

        <div class="link">
            <div class="content" [routerLink]="['tourManager']" [routerLinkActive]="'active'">
                <div class="icon">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Stockholm-icons / Home / Flower2</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none"
                            fill-rule="evenodd">
                            <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                            <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                            <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                            <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                        </g>
                    </svg>
                </div>
                <div class="title">Quản lý bài dăng</div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
<router-outlet></router-outlet>